.answer {
  color: var(--color-amber-flare);
  line-height: 1rem;
  max-height: 4rem;
  min-height: 4rem;
}

.answer p {
  font-size: 1.3rem;
  margin: 0;
}

.correctAnswer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .answer {
    max-height: 3rem;
    min-height: 3rem;
  }

  .correctAnswer {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
}
