.number {
  color: var(--color-neon-lime);
  margin-bottom: 0;
  font-size: 1.25rem;
  transform: rotate(-5deg);
}

.question {
  margin: 0 0.75rem 2rem;
}

@media screen and (min-width: 768px) {
  .question {
    margin: 0 0.75rem 0.75rem;
    min-height: 5rem;
  }
}