.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 7.75rem;
  min-width: 7.75rem;
}

.scarletMacaw {
  align-self: flex-start;
  width: 2.5rem;
  height: auto;
  margin: 0 0 -2rem 0.7rem;
  z-index: 1;
  filter: drop-shadow(4px 4px 5px var(--color-black));
}

.costa, .rica {
  color: var(--color-sunbeam-yellow);
  font-family: var(--font-rubik-dirt);
  font-size: 1.2rem;
  margin: 0;
  text-shadow: 4px 4px 10px var(--color-black);
  transform: rotate(-5deg);
}

.rica {
  margin-top: -0.625rem;
}

.hangingSloth {
  align-self: flex-end;
  width: 2.5rem;
  height: 2rem;
  margin: -1rem 1rem 0 0;
  transform: rotate(9deg);
  z-index: 1;
  filter: drop-shadow(4px 4px 5px var(--color-black));
}
