.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.75rem;
  margin: 3rem 0 5rem;
  padding: 0 2rem;
}

.result {
  margin-bottom: 1rem;
}

.image {
  height: auto;
  position: absolute;
}

.basiliskLizard {
  width: 9.5rem;
  margin-top: -3.8rem;
  justify-self: end;
}

.capuchinMonkey {
  width: 7rem;
  height: 6.5rem;
  justify-self: start;
  margin: 16.5rem 0 0 -2rem;
  transform: scaleX(-1);
  z-index: 1;
}

.hummingbird {
  justify-self: end;
  margin: 8.75rem -2rem 0 0;
  width: 9rem;
  transform: scaleX(-1) rotate(12deg);
}

.redEyedFrog {
  width: 7rem;
  margin-top: -3.75rem;
}

.jaguar {
  width: 8rem;
  margin: -7.4rem -0.5rem 0 0;
  justify-self: end;
}

.turtle {
  width: 8rem;
  z-index: 1;
  justify-self: start;
  margin: 14.5rem 0 0 -1rem;
}

.howlerMonkey {
  width: 8.5rem;
  justify-self: end;
  margin-top: -4.75rem;
}

.sloth {
  width: 7.5rem;
  margin: 15.5rem 0 0 -1.5rem;
  z-index: 1;
}

.toucan {
  justify-self: end;
  margin: 14.25rem -2rem 0 0;
  width: 8.25rem;
  transform: scaleX(-1);
  z-index: 1;
}

.iguana {
  justify-self: start;
  margin-top: -4rem;
  width: 9rem;
  transform: scaleX(-1);
}

@media screen and (min-width: 768px) {
  .options {
    margin: 3rem 0 4rem;
  }

  .result {
    margin-bottom: 1rem;
  }

  .capuchinMonkey {
    margin: 15.5rem 0 0 -2.5rem;
  }

  .hummingbird {
    margin: 8rem -6rem 0 0;
  }

  .redEyedFrog {
    width: 7.5rem;
    margin-top: -4rem;
  }

  .jaguar {
    margin: 3.25rem -6.5rem;
    transform: scaleX(-1);
  }

  .turtle {
    margin: 13rem 0 0 -2rem;
  }

  .howlerMonkey {
    width: 9.5rem;
    margin-top: -5.25rem;
  }

  .sloth {
    margin: 14rem 0 0 -1.5rem
  }

  .toucan {
    margin-top: 13.75rem;
  }
}