.option {
  border: 2px solid black;
  padding: 1rem;
  height: 4rem;
  width: 8rem;
}

.chosen {
  background-color: lightblue;
}

.correct {
  background-color: lightgreen;
}

.incorrect {
  background-color: #e68181;
}