.option {
  padding: 1rem;
  height: 4rem;
  width: 8rem;
  background-color: var(--color-sunbeam-yellow);
  border-radius: 10px;
  box-shadow: 2px 2px 10px var(--color-black);
  font-family: inherit;
  font-size: 1.25rem;
  color: var(--color-deep-forest);
}

.chosen {
  background-color: var(--color-amber-flare);
}

.correct {
  background-color: var(--color-neon-lime);
}

.incorrect {
  background-color: var(--color-crimson-ember);
}