.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 26rem;
  min-width: 26rem;
}

.scarletMacaw {
  align-self: flex-start;
  width: 11rem;
  height: auto;
  margin: 0 0 -8.9rem -1rem;
  z-index: 1;
  animation: tilt 2s linear infinite;
}

.costa, .rica {
  font-size: 4.5rem;
  margin: 0;
}

.rica {
  margin-top: -2.25rem;
}

.hangingSloth {
  align-self: flex-end;
  width: 10rem;
  height: 8.5rem;
  margin: -4rem 1.5rem 0 0;
  transform: rotate(9deg);
  z-index: 1;
  animation: swing 3s ease-in-out infinite;
  transform-origin: top center;
}

.intro {
  color: var(--color-sunbeam-yellow);
  padding: 0 3rem;
  margin-top: -0.75rem;
}

.iguana {
  width: 10rem;
  height: auto;
  margin-bottom: -1.25rem;
  z-index: 1;
  opacity: 0;
  animation: thudDown 1s 1.5s ease-in forwards;
}

@keyframes tilt {
  0% {
    transform: rotate(-4deg);
  }
  20% {
    transform: rotate(8deg);
  }
  60% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}

@keyframes swing {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

@keyframes thudDown {
  0% {
    transform: translateY(-100vh);
    opacity: 1;
  }
  85% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
