.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 26rem;
  min-width: 26rem;
}

.scarletMacaw {
  align-self: flex-start;
  width: 11rem;
  height: auto;
  margin: 0 0 -8.9rem -1rem;
  z-index: 1;
}

.costa, .rica {
  font-size: 5rem;
  margin: 0;
}

.rica {
  margin-top: -2.25rem;
}

.hangingSloth {
  align-self: flex-end;
  width: 11.5rem;
  height: 10rem;
  margin-top: -4.4rem;
  transform: rotate(9deg);
  z-index: 1;
}

.intro {
  color: var(--color-sunbeam-yellow);
  padding: 0 3rem;
  margin-top: -0.75rem;
}

.iguana {
  width: 10rem;
  height: auto;
  margin-bottom: -1.25rem;
  z-index: 1;
}