.animal {
  padding: 0 2rem;
  margin: 0;
  color: var(--color-neon-lime);
}

.description {
  padding: 0 2rem;
  margin: 0;
  color: var(--color-sunbeam-yellow);
}

.resultAnimal {
  width: 10rem;
  height: 10rem;
  justify-self: center;
  margin: 1rem 0 1.5rem;
  animation: rotate 2s ease-in-out infinite;
}

.resultAnimal img {
  width: 100%;
  height: 100%;
}

@keyframes rotate {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
