@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

:root {
  /* Colour Palette */
  --color-amber-flare: #ff9a00;
  --color-neon-lime: #c2ff61;
  --color-rich-sienna: #724400;
  --color-deep-forest: #073407;
  --color-muted-grey: #dddddd;
  --color-black: #000;
  --color-white: #fff;
}

h1, h2 {
  font-family: "Rubik Dirt", Verdana;
}

p {
  font-size: 1.5rem;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
