@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

:root {
  /* Colour Palette */
}

h1, h2 {
  font-family: "Rubik Dirt", Verdana;
}

p {
  font-size: 1.5rem;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
