:root {
  /* Colour Palette */
  --color-amber-flare: #ff9a00;
  --color-neon-lime: #c2ff61;
  --color-rich-sienna: #724400;
  --color-sunbeam-yellow: #fff988;
  --color-deep-forest: #073407;
  --color-crimson-ember: #ff6831;
  --color-black: #000;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: var(--font-gaegu);
}

h1, h2 {
  font-family: var(--font-rubik-dirt);
  color: var(--color-amber-flare);
  text-shadow: 4px 4px 20px var(--color-black);
  text-transform: uppercase;
  transform: rotate(-5deg);
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}
