.main {
  max-width: 100dvw;
  min-height: 100dvh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkgreen;
  background-image: url("../assets/background.png");
  padding: 1rem;
  overflow-x: hidden;
}
