.button {
  width: fit-content;
  padding: 0.75rem 1rem;
  background-color: #c2ff61;
  color: #724400;
  border: none;
  border-radius: 8px;
  font-size: 1.75rem;
  font-family: inherit;
  text-transform: uppercase;
  border-bottom: 8px solid #ff9a00;
  box-shadow: 4px 4px 20px black;
}

.button:disabled {
  background-color: #dddddd;
  color: white;
}