.endPage {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 0 1rem;
  background-color: var(--color-deep-forest);
  border-radius: 20px;
  width: 80%;
  box-shadow: 6px 6px 20px var(--color-black);  
}